<h1><%= @user.first_name %>'s Playlist:</h1>

<div id="userPlaylist">
   <table>
      <thead>
         <tr>
            <th>Artist:</th>
            <th>Title:</th>
            <th>Times Added:</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <% @my_playlist.each do |play|%>
               <td><%= play.artist %></td>
               <td><%= play.title %></td>
               <td><%= @added_songs %></td>
            <%end%>
         </tr>
      </tbody>
   </table>

<hr><button type="button" name="profile"><a href="/songs/index/<%= session[:user_id] %>">Back To Songs Library </a></button>
